<!-- and guess where these are defined? Yup, you guessed it: the _config.yml file -->
{% if site.resume_social_links %}
<ul class="icon-links">

  {% if site.resume_social_links.resume_telephone_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_telephone_url }}" class="icon-link" title="Telephone" aria-label="Telephone"><span aria-hidden="true">{% include icons/icon-phone.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_whatsapp_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_whatsapp_url }}" class="icon-link" itemprop="sameAs" title="WhatsApp" aria-label="WhatsApp"><span aria-hidden="true">{% include icons/icon-whatsapp.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_wechat_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_wechat_url }}" class="icon-link" title="WeChat" aria-label="WeChat"><span aria-hidden="true">{% include icons/icon-wechat.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_messenger_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_messenger_url }}" class="icon-link" itemprop="sameAs" title="Messenger" aria-label="Messenger"><span aria-hidden="true">{% include icons/icon-messenger.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_telegram_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_telegram_url }}" class="icon-link" itemprop="sameAs" title="Telegram" aria-label="Telegram"><span aria-hidden="true">{% include icons/icon-telegram.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_snapchat_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_snapchat_url }}" class="icon-link" itemprop="sameAs" title="Snapchat" aria-label="Snapchat"><span aria-hidden="true">{% include icons/icon-snapchat.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_signal_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_signal_url }}" class="icon-link" itemprop="sameAs" title="Signal" aria-label="Signal"><span aria-hidden="true">{% include icons/icon-signal.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_kik_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_kik_url }}" class="icon-link" itemprop="sameAs" title="Kik" aria-label="Kik"><span aria-hidden="true">{% include icons/icon-kik.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_paypal_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_paypal_url }}" class="icon-link" itemprop="sameAs" title="PayPal" aria-label="PayPal"><span aria-hidden="true">{% include icons/icon-paypal.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_venmo_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_venmo_url }}" class="icon-link" itemprop="sameAs" title="Venmo" aria-label="Venmo"><span aria-hidden="true">{% include icons/icon-venmo.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_giftful_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_giftful_url }}" class="icon-link" itemprop="sameAs" title="Giftful" aria-label="Giftful"><span aria-hidden="true">{% include icons/icon-giftful.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_amazon_wishlist_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_amazon_wishlist_url }}" class="icon-link" itemprop="sameAs" title="Amazon Wish List" aria-label="Amazon Wish List"><span aria-hidden="true">{% include icons/icon-amazon.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_google_calendar_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_google_calendar_url }}" class="icon-link" itemprop="sameAs" title="Google Calendar" aria-label="Google Calendar"><span aria-hidden="true">{% include icons/icon-google-calendar.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_linkedin_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_linkedin_url }}" class="icon-link" itemprop="sameAs" title="LinkedIn" aria-label="LinkedIn"><span aria-hidden="true">{% include icons/icon-linkedin.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_slack_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_slack_url }}" class="icon-link" itemprop="sameAs" title="Slack" aria-label="Slack"><span aria-hidden="true">{% include icons/icon-slack.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_github_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_github_url }}" class="icon-link" itemprop="sameAs" title="GitHub" aria-label="GitHub"><span aria-hidden="true">{% include icons/icon-github.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_stackoverflow_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_stackoverflow_url }}" class="icon-link" itemprop="sameAs" title="Stack Overflow" aria-label="Stack Overflow"><span aria-hidden="true">{% include icons/icon-stackoverflow.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_upwork_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_upwork_url }}" class="icon-link" itemprop="sameAs" title="Upwork" aria-label="Upwork"><span aria-hidden="true">{% include icons/icon-upwork.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_wellfound_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_wellfound_url }}" class="icon-link" itemprop="sameAs" title="Wellfound" aria-label="Wellfound"><span aria-hidden="true">{% include icons/icon-wellfound.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_facebook_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_facebook_url }}" class="icon-link" itemprop="sameAs" title="Facebook" aria-label="Facebook"><span aria-hidden="true">{% include icons/icon-facebook.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_youtube_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_youtube_url }}" class="icon-link" itemprop="sameAs" title="YouTube" aria-label="YouTube"><span aria-hidden="true">{% include icons/icon-youtube.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_instagram_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_instagram_url }}" class="icon-link" itemprop="sameAs" title="Instagram" aria-label="Instagram"><span aria-hidden="true">{% include icons/icon-instagram.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_tiktok_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_tiktok_url }}" class="icon-link" itemprop="sameAs" title="TikTok" aria-label="TikTok"><span aria-hidden="true">{% include icons/icon-tiktok.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_pinterest_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_pinterest_url }}" class="icon-link" itemprop="sameAs" title="Pinterest" aria-label="Pinterest"><span aria-hidden="true">{% include icons/icon-pinterest.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_twitter_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_twitter_url }}" class="icon-link" itemprop="sameAs" title="X / Twitter" aria-label="X / Twitter"><span aria-hidden="true">{% include icons/icon-twitter.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_vk_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_vk_url }}" class="icon-link" itemprop="sameAs" title="VK" aria-label="VK"><span aria-hidden="true">{% include icons/icon-vk.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_threads_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_threads_url }}" class="icon-link" itemprop="sameAs" title="Threads" aria-label="Threads"><span aria-hidden="true">{% include icons/icon-threads.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_medium_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_medium_url }}" class="icon-link" itemprop="url" title="Medium" aria-label="Medium"><span aria-hidden="true">{% include icons/icon-medium.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_bluesky_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_bluesky_url }}" class="icon-link" itemprop="sameAs" title="Bluesky" aria-label="Bluesky"><span aria-hidden="true">{% include icons/icon-bluesky.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_vsco_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_vsco_url }}" class="icon-link" itemprop="sameAs" title="VSCO" aria-label="VSCO"><span aria-hidden="true">{% include icons/icon-vsco.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_dribbble_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_dribbble_url }}" class="icon-link" itemprop="sameAs" title="Dribbble" aria-label="Dribbble"><span aria-hidden="true">{% include icons/icon-dribbble.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_mastodon_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_mastodon_url }}" class="icon-link" itemprop="sameAs" title="Mastodon" aria-label="Mastodon"><span aria-hidden="true">{% include icons/icon-mastodon.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_spotify_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_spotify_url }}" class="icon-link" itemprop="sameAs" title="Spotify" aria-label="Spotify"><span aria-hidden="true">{% include icons/icon-spotify.html %}</span></a></li>
  {% endif %}

  {% if site.resume_social_links.resume_soundcloud_url %}
  <li class="icon-link-item"><a href="{{ site.resume_social_links.resume_soundcloud_url }}" class="icon-link" itemprop="sameAs" title="SoundCloud" aria-label="SoundCloud"><span aria-hidden="true">{% include icons/icon-soundcloud.html %}</span></a></li>
  {% endif %}

</ul>
{% endif %}
