{% if site.resume_social_links.resume_linkedin_url %}
<link rel="me" href="{{ site.resume_social_links.resume_linkedin_url }}">
{% endif %}
{% if site.resume_social_links.resume_github_url %}
<link rel="me" href="{{ site.resume_social_links.resume_github_url }}">
{% endif %}
{% if site.resume_social_links.resume_mastodon_url %}
<link rel="me" href="{{ site.resume_social_links.resume_mastodon_url }}">
{% endif %}
{% if site.resume_social_links.resume_bluesky_url %}
<link rel="me" href="{{ site.resume_social_links.resume_bluesky_url }}">
{% endif %}
